.imgSally {
  display: block;
  position: absolute;

  z-index: 1000;
  width: 900px;
  top: 150px;

  @media (max-width: 1440px) {
    width: 500px;
    height: 500px;
  }
  @media (min-width: 2560px) {
    width: 900px;
  }
}
.imgOnda {
  width: 900px;
  z-index: 0;
  position: relative;
  margin-top: 150px;
  @media (max-width: 1440px) {
    width: 500px;
    height: 500px;
  }
}
.containerGrid {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
}

.title {
  color: #0047ff !important;
  font-family: Inter;
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.containerImgs {
  position: relative;
  width: max-content;
  height: calc(100vh - 50px);
}
.containerText {
  width: 577px;
  z-index: 1010;
  margin-top: 170px;
  margin-left: 170px;
}
