.imgSally {
  z-index: 1000;
  width: 900px;
  top: 150px;

  @media (max-width: 1440px) {
    width: 500px;
    height: 500px;
  }
  @media (min-width: 2560px) {
    width: 900px;
  }
}
.imgOnda {
  width: 900px;
  z-index: 0;
  margin-top: 150px;
  @media (max-width: 1440px) {
    width: 500px;
    height: 500px;
  }
}
.containerGrid {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 770px) {
  .containerGrid {
    flex-direction: column;
  }
  .containerImgs {
    width: 100% !important;
    flex-direction: row !important;
    justify-content: end;
  }
}

.title {
  color: #0047ff !important;
  font-family: Inter;
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.containerImgs {
  position: relative;
  width: max-content;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media (min-width: 1440px) {
  .containerText {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .containerGrid {
    justify-content: center;
  }
}
.containerText {
  width: 577px;
  z-index: 1010;
  margin-top: 170px;
  margin-left: 170px;
}
